.logo {
  width: 64px;
  height: 64px;
  padding: 12px;
}

.home-page-header {
  background: white;
  border-bottom: 1px solid #cccccc;
}

.home-page-footer {
  text-align: center;
}

.home-page-content {
  padding: 0 24px;
  background: white;
}

.home-title-text {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 64px 20px;
  margin: 0;
  background: linear-gradient(to right, #1d4fa2, #177ddb);
  -webkit-background-clip: text;
  color: transparent;
}
