.footer-logo {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.home-page-header {
  background: white;
  border-bottom: 1px solid #cccccc;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.home-page-footer {
  text-align: center;
}

.home-page-content {
  padding: 0 24px;
  margin: 64px 0;
  background: white;
}

.home-title-logo {
  height: 100%;
  width: 120px;
  padding: 24px 20px;
}

.home-title-text {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 64px 0;
  margin: 0;
  background: linear-gradient(to right, #1d4fa2, #1570c4);
  -webkit-background-clip: text;
  color: transparent;
}

.navbar-menu {
  height: 100%;
  border-bottom: none;
}

.navbar-menuitem {
  height: 100%;
  text-align: center;
}
