.navbar-menu {
  height: 100%;
  border-bottom: none;
}

.navbar-menuitem {
  height: 100%;
  text-align: center;
}

.page-header {
  background: white;
  border-bottom: 1px solid #cccccc;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.footer-text {
  text-align: left;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .footer-text {
    text-align: center;
  }
}

.footer-logo {
  width: 200px;
  height: 200px;
  padding: 20px;
}

@media (max-width: 576px) {
  .footer-logo {
    /* 屏幕宽度在 576px ~ 320px 之间时，
       图片尺寸在 200px ~ 150px  之间线性变化 */
    width: calc(25 / 128 * 100vw + 175px / 2);
    height: calc(25 / 128 * 100vw + 175px / 2);
  }
}
